@font-face {
  font-family: 'snizer';
  src:  url('../fonts/snizer.eot?651ebq');
  src:  url('../fonts/snizer.eot?651ebq#iefix') format('embedded-opentype'),
    url('../fonts/snizer.ttf?651ebq') format('truetype'),
    url('../fonts/snizer.woff?651ebq') format('woff'),
    url('../fonts/snizer.svg?651ebq#snizer') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'snizer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snizer:before {
  content: "\e900";
}
