.not-rounded{
  border-radius: 0px;
}
.sombra{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.13);
}

body{
  font-weight: 300;
  letter-spacing: 0.75px;
  font-family: 'Roboto', sans-serif;}

.btn{
  letter-spacing: 1px;
}

.logo i{
  color:transparent;
  -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: white;
}

.center-mobile{
  text-align: left;
  padding: 10px 5px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.md-select, .md-select:active, .md-select:hover, .md-select:focus{
  font-family: inherit;
  background-color: transparent;
  color: rgba(0,0,0, 0.26);
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.md-select:after{
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}
.md-select:focus{
  outline:none;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  border-bottom: 1px solid rgb(19, 117, 228);
}
.input-group{
  position: relative;
}
.input-group label{
  position: absolute;
  display: block;
  height:400px
}
input{
  outline: none;
}
.input-group input{
  background-color: transparent;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}
.input-group label{
  top: 10px;
  transition: .3s ease-in-out;
  color:rgba(0,0,0, 0.12);
}
.input-group input:active, .input-group input:focus{
  background-color: transparent;
  outline: 0 !important;
  border: none;
  border-bottom: 1px solid rgb(19, 117, 228);
}
input:valid,
input:focus {
  border-bottom: 2px solid rgb(19, 117, 228);  
}
input:valid + label,
input:focus + label {
  display:block;
  top: -16px;
  pointer-events: none;
  color: rgb(19, 117, 228);
}


@media (prefers-color-scheme: dark) {
  body{
    background-color: #1e1e1e
  }
  .card{
    color: white;
    background-color: #3b3b3b;
  }
  .logo{
    color: white;
  }
  .logo i{
    color:transparent;
    -webkit-text-stroke-width: .9px;
    -webkit-text-stroke-color: white;
  }
  .md-select, .md-select:active, .md-select:hover, .md-select:focus{
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline:none !important;
  }
  .md-select option{
    color: #1e1e1e
  }
  .md-select:after{
    border-top: 0.375em solid white
  }
  .input-group label{
    color: white;
  }
  .input-group input{
    border-bottom: 1px solid white;
    color:white !important;
  }
}

@media (prefers-color-scheme: light) {
  body{
    background-color: white;
  }
  .logo i{
    color: #4285F4;
  }
  .logo span{
    color: #4285F4;
  }
}

@media only screen 
and (max-device-width: 600px) {
  .center-mobile{
    text-align: center;
  }
}